{% extends 'store/layouts/main.html' %}

{% block content %}
<div class="py-2 topbar">
    <div class="container">
        <a class="" href="{% url 'home' %}">Home /</a>
        <a class="" href="{% url 'orderdetails' %}">My Order </a>
    </div>
</div>
<div class="container mt-5">
        <div class="row">
            <div class="col-md-6">
                <div class="card shadow">
                    <div class="card-body mt-2">
                        <h6 class="font-weight-bold text-center">Shipping Details</h6>
                        <hr><hr>
                        <div class="row ">
                            <div class="col-md-12">
                                <label class="mb-0">First Name</label>
                                <input type="text"  required class="form-control"  placeholder="{{order.fname}}">
                            </div>
                            <div class="col-md-12">
                                <label class="mb-0">Last Name</label>
                                <input type="text"  required class="form-control"  placeholder="{{order.lname}}">
                            </div>
                            <div class="col-md-12">
                                <label class="mb-0">Email</label>
                                <input type="text"  required class="form-control"  placeholder="{{order.email}}">
                            </div>
                            <div class="col-md-12">
                                <label class="mb-0">Phone</label>
                                <input type="text"  required class="form-control"  placeholder="{{order.phone}}">
                            </div>
                            <div class="col-md-12">
                                <label class="mb-0">Address</label>
                                <input type="text"  required class="form-control"  placeholder="{{order.address}}">
                            </div>
                            <div class="col-md-12">
                                <label class="mb-0">Pincode</label>
                                <input type="text"  required class="form-control"  placeholder="{{order.pincode}}">
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 ">
                <div class="card shadow">
                    <div class="card-body text-center mt-2">
                        <h6 class="text-center font-weight-bold">Order Summary</h6>
                        <hr>
                        {% if orderitem %}
                            <table class="table table-bordereds table-stripeds">
                                <thead>
                                    <tr>
                                        <th>Product</th>
                                        <th>Payment mode</th>
                                        <th>Price</th>
                                        <th>Qty</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    
                                    {% for item in orderitem %}
                                    <tr>
                                        <td>
                                            <img src="{{ item.product.product_image.url}}" class='me-3'height="50px" width="50px">
                                            {{item.product.name }}

                                        </td>
                                        <td>{{item.order.payment_mode }}</td>
                                        <td>{{item.product.selling_price|stringformat:'d' }}</td>
                                        <td>{{item.quantity}}</td>

                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                            <hr>
                            <h6 class="font-weight-bold">Grand Total
                                <span class="float-right font-weight-bold mr-5">{{order.total_price |stringformat:'d'}}</span>
                            </h6>
                            <!-- <label for="">{{order.paymet_mode}}</label> -->
                        {% else %}   
                            <h4>Your cart is empty</h4>
                        {% endif %}
                        <a class="text-white btn btn-success w-100" href="{% url 'orderdetails' %}">Back to order details</a>
                            
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
{% endblock content %}