{% extends 'store/layouts/main.html' %}

{% block content %}
    <!-- <h1 class="text-center"> Home </h1> -->
    <div class="py-2 topbar">
        <div class="container">
            <a class="" href="{% url 'home' %}">Home /</a>
        </div>
    </div>   
    {% include 'store/inc/slider.html' %}
    <!-- <div class="owl-carousel owl-theme">
        <div class="item bg-info"><h4>1</h4></div>
        <div class="item bg-danger"><h4>2</h4></div>
        <div class="item bg-danger"><h4>3</h4></div>
        <div class="item bg-danger"><h4>4</h4></div>
        <div class="item bg-danger"><h4>5</h4></div>
        <div class="item bg-danger"><h4>6</h4></div>
        <div class="item bg-danger"><h4>7</h4></div>
        <div class="item bg-danger"><h4>8</h4></div>
        <div class="item bg-danger"><h4>9</h4></div>
        <div class="item bg-danger"><h4>10</h4></div>
        <div class="item bg-danger"><h4>11</h4></div>
        <div class="item bg-danger"><h4>12</h4></div>
    </div> -->
    <div class="card  container mb-5 mt-3" style="border-color:#ff6600 ;">
    <h3 class=" p-2 text-center text-white card-body my-5  mt-3" style="background-color:#ff6600	 ;">Trending</h3>
    <div class="container  my-2">
        <div class="row  ">
            <div class=" ">
                <div class="row owl-carousel owl-theme container" >
                    {% for i in trending %}
                        <div class=" item " >
                            <div class="card shadow product_data">
                                <a href="{% url 'productDetails' i.category.slug i.slug%}">
                                    <img class="card-img-top mt-3" src="{{i.product_image.url}}" alt="Card image cap" height="220px">
                                    <h4 class="text-center m-auto">{{ i.name }}</h4>
                                </a>
                                <div class="container">
                                    {% csrf_token %}
                                    <input type="hidden"value='{{ i.id }}'class="prod_id">
                                    <input type="hidden"value='1'class="qty_input">

                                    <span class='float-start'>Rs {{i.selling_price |stringformat:'d'}}/-</span>
                                    <span class='float-right'><s>Rs {{ i.original_price |stringformat:'d'}}/-</s></span>
                                    <p></p>
                                    <div class="text-center">
                                    {% if i.quantity > 0 %}
                                        <button type="button" class="addToCartBtn btn btn-sm btn-primary me-3 mb-3 float-start">Add to Cart <i class="fa-solid fa-cart-shopping"></i> </button>
                                    {% else %}
                                        <button type="button" class="disabled btn btn-sm btn-danger me-3 mb-3 float-start">Out of Stock </button>
                                    {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}        
                </div>
            </div>
        </div>
    </div>
    </div> 
    
        
{% endblock content %}