.shadow {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.navbarcolor{
    background-color:#ffecb3 ;
    color:#ff6600;
}
.topbar{
    background: #ffe082;
    color:#ff6f00;
}